a{
    text-decoration: none;
}

.container .head{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10000;
    transition: 0.5s;
    background: black;    
}

.container .head img{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 7%;
    max-width: 150px;

}

.container .head .btn{
    color: #fff;
    background-color: #E50914;
    border-radius: 5px;
    padding: 8px 18px;
    background-repeat: 5px;
}

.btn:hover {
	opacity: 0.9;
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li{
    position: relative;
}

.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #E50914;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after{
    width: 100%;
}

.bx{
    color: #fff;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
@media screen and (max-width:1110px){
    .container .head img{
        width: 90px;
    }
}
@media screen and (max-width:768px) {
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;

    }
    .navbar{
        position: absolute;
        top: -570px;
        /* top: 100%; */
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #000;
        row-gap: 1.8rem;
        /* padding: 20px; */
        padding-bottom: 27px;
        transition: 0.2s all linear;
        text-align: center;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%) ;
        z-index: -100;
    }

    .navbar a{
        color: #fff;
    }

    .navbar a:hover{
        color: #E50914;
    }

    .navbar a::after{
        display: none;
    }

    .navbar.active{
        top: 100%;
        z-index: -100;
    }
}
